.header {
  display: block;
}

.header__wrapper {
  padding: 25px 32px;

  @include viewport--md {
    padding: 25px 36px;
  }
}

.header__logo {
  display: inline-flex;
  padding: 0;
  transition: $default-transition-settings;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  svg {
    width: 192px;
    height: 24px;
  }
}
