.main-content {
  position: relative;
  display: flex;
  min-height: 100%;
  padding-top: 43px;
}

.main-content__background-img {
  position: absolute;
  top: 43px;
  left: calc(50% - 345px);
  height: 645px;

  @include viewport--md {
    display: none;
  }
}

.main-content__title {
  margin: 0;
  margin-top: 60px;
  font-size: 96px;
  line-height: 96px;
  font-weight: 400;
  color: $color-neon-blue;

  @include viewport--md {
    margin-top: 185px;
    padding-left: 13px;
  }
}

.main-content__audience {
  display: flex;
  flex-direction: column;
  min-width: 352px;

  @include viewport--md {
    position: absolute;
    top: 0;
    left: -1000px;
    width: calc(100% + 50px);
    height: 100%;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    background-color: $color-neon-blue;
  }
}

.main-content__audience-icon--color {
  display: block;

  @include viewport--md {
    display: none;
  }
}

.main-content__audience-icon--white {
  display: none;

  @include viewport--md {
    margin-top: 155px;
    display: block;
  }
}

.main-content__audience-text {
  margin: 0;
  margin-top: 30px;
  font-size: 30px;
  line-height: 40px;
  color: $color-default-black;

  @include viewport--md {
    margin-top: 35px;
    padding-left: 25px;
    color: $color-default-white;
  }
}
