.fadeInLeft {
  animation-name: appearance-from-the-left;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.fadeInLeft-special {
  animation-name: appearance-from-the-left-special;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.fadeInUp {
  animation-name: appearance-from-below;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.fadeInDown {
  animation-name: appearance-from-top;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}
