@keyframes appearance-from-the-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearance-from-the-left-special {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  45% {
    transform: translateX(0);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes appearance-from-below {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 100px;
    opacity: 1;
  }
}

@keyframes appearance-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

